/* @font-face {
    font-family: ;
    src: url();
} */

#cover{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;

    font-size: 50px;
    width: 500px;
    height: 500px;

    /* border: solid 5px black; */
}